<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AirportManagementSystem</display-name>
	<servlet>
		<display-name>AdminLoginController</display-name>
		<servlet-name>AdminLoginController</servlet-name>
		<servlet-class>com.hcl.controllers.AdminLoginController</servlet-class>
	</servlet>
	<servlet>
		<display-name>AdminRegisterController</display-name>
		<servlet-name>AdminRegisterController</servlet-name>
		<servlet-class>com.hcl.controllers.AdminRegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginController</servlet-name>
		<url-pattern>/AdminLoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminRegisterController</servlet-name>
		<url-pattern>/AdminRegisterController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ManagerLoginController</display-name>
		<servlet-name>ManagerLoginController</servlet-name>
		<servlet-class>com.hcl.controllers.ManagerLoginController</servlet-class>
	</servlet>
	<servlet>
		<display-name>ManagerRegisterController</display-name>
		<servlet-name>ManagerRegisterController</servlet-name>
		<servlet-class>com.hcl.controllers.ManagerRegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerLoginController</servlet-name>
		<url-pattern>/ManagerLoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerRegisterController</servlet-name>
		<url-pattern>/ManagerRegisterController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>PlaneController</display-name>
		<servlet-name>PlaneController</servlet-name>
		<servlet-class>com.hcl.controllers.PlaneController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaneController</servlet-name>
		<url-pattern>/PlaneController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>PilotController</display-name>
		<servlet-name>PilotController</servlet-name>
		<servlet-class>com.hcl.controllers.PilotController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PilotController</servlet-name>
		<url-pattern>/PilotController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>HangerController</display-name>
		<servlet-name>HangerController</servlet-name>
		<servlet-class>com.hcl.controllers.HangerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HangerController</servlet-name>
		<url-pattern>/HangerController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>